.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

*.log
*.tmp
*.temp
*.swp
*.swo

.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/extensions.json

.idea/
*.iml
*.ipr
*.iws

.dart_tool/
.packages
.pub/
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata

doc/api/
coverage/

android/.gradle/
android/app/build/
android/build/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/
*.jks
*.keystore

ios/Pods/
ios/.symlinks/
ios/Flutter/.last_build_id
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Runner.xcworkspace/
ios/DerivedData/

lib/generated_plugin_registrant.dart

*.class
*.pyc
.history/
.build/
.svn/